html {
  block-size: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  padding: 0;
  margin: 0;
  line-height: inherit;
  font-size: 16px;
  background: #333;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

:where(h1, h2, h3, h4, h5, h6, p, ol, ul, menu, figure) {
  margin: 0;
}

:where(ol, ul, menu) {
  list-style-type: "";
  padding: 0;
}

/* Loader */

body {
  display: grid;
  align-items: center;
  justify-content: center;
  block-size: 100%;
}

ul {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-template-rows: repeat(7, minmax(0, 1fr));
  block-size: 28em;
  inline-size: 28em;

  --animation-duration: 4s;

  & li {
    display: flex;
    justify-content: space-between;
    background: rgb(0 0 0 / 20%);

    &::before,
    &::after {
      content: "";
      block-size: 100%;
      aspect-ratio: 1;
      display: grid;
      border-radius: 50%;
      background: currentColor;
    }
  }

  &:hover li:nth-of-type(1) {
    transform: rotate(90deg);
  }

  & li:nth-of-type(1) {
    grid-area: 4 / 1 / 5 / -1;
    animation: var(--animation-duration) linear infinite forwards rotate--main;

    &::before {
      animation: var(--animation-duration) linear infinite forwards point--1;
    }

    &::after {
      animation: var(--animation-duration) linear infinite forwards point--2;
    }
  }

  & li:nth-of-type(2) {
    grid-area: 4 / 1 / 5 / 5;
    animation: var(--animation-duration) linear infinite forwards
      rotate--clock-wise;

    &::before {
      animation: var(--animation-duration) linear infinite forwards point--3;
    }

    &::after {
      animation: var(--animation-duration) linear infinite forwards point--4;
    }
  }

  & li:nth-of-type(3) {
    grid-area: 4 / 4 / 5 / -1;
    animation: var(--animation-duration) linear infinite forwards
      rotate--counter-clock-wise;

    &::before {
      animation: var(--animation-duration) linear infinite forwards point--5;
    }

    &::after {
      animation: var(--animation-duration) linear infinite forwards point--6;
    }
  }

  & li:nth-of-type(4) {
    grid-area: 1 / 4 / 2 / 5;
    opacity: 0;
  }

  & li:nth-of-type(5) {
    grid-area: -2 / 4 / -1 / 5;
    opacity: 0;
  }
}

@keyframes rotate--main {
  0% {
    transform: rotateZ(0deg);
  }

  25% {
    transform: rotateZ(-180deg);
  }

  100% {
    transform: rotateZ(-180deg);
  }
}

@keyframes point--1 {
  0% {
    opacity: 1;
  }

  24.999% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes point--2 {
  0% {
    opacity: 1;
  }

  24.999% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rotate--clock-wise {
  0% {
    transform: rotateZ(0deg);
  }

  25% {
    transform: rotateZ(0deg);
  }

  50% {
    transform: rotateZ(-180deg);
  }

  100% {
    transform: rotateZ(-180deg);
  }
}

@keyframes point--3 {
  0% {
    opacity: 0;
  }

  24.999% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  49.999% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes point--4 {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  49.999% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  99.999% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rotate--counter-clock-wise {
  0% {
    transform: rotateZ(0deg);
  }

  50% {
    transform: rotateZ(0deg);
  }

  75% {
    transform: rotateZ(-180deg);
  }

  100% {
    transform: rotateZ(-180deg);
  }
}

@keyframes point--5 {
  0% {
    opacity: 0;
  }

  49.999% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  74.999% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes point--6 {
  0% {
    opacity: 0;
  }

  24.999% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
